mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="web/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="web/images/sprite/symbol/sprite.svg#" + name)

// Список ссылок соц сетей
mixin socials(array)
	each key in array
		a(href="#" target='_blank' title=key).socials__link
			+icon(key)

// Главный топ баннер
mixin preview(options, title)
	section.content-section
		.container
			if(title)
				h2.g-title=title
			.preview
				.preview__info(class=`${!options.size ? 'preview__info--right' : ''}`)
					if(options.size)
						h1.g-title=options.title
					else
						h3.g-title=options.title
					each key in options.description
						p=key
				.img
					img(src=options.imgUrl , alt=options.title, title=options.title)

mixin servicesItem(options)
	.services__item
		h5.g-title=options.title
		p.services__desc=options.description
		.services__img
			img(src=options.imgUrl, alt=options.title, title=options.title)
		a(href="#").g-btn Перейти


mixin smallCard(options)
	.professionals__item
		a(href="#")
			img(src='./web/images/content/photo.jpg', alt=options.title)
			h6.g-title=options.title
		ul
			li Терапевт
			li Высшая категория
			li Стаж работы 15 лет
		span.rub 1 400
		button.g-btn Записаться


mixin sliderProf(title)
	section.content-section
		.container
			h2.g-title=title
			.swiper-container.professionals-js.professionals
				.swiper-wrapper
					each key in Array(6)
						.swiper-slide
							+smallCard({title: 'Иванова Татьяна Владимировна'})
			.text-center
				a(href="#") Все врачи


mixin desicionItem(options)
	.desicion__item.grid__item
		h5.g-title=options.title
		p=options.descr
		if(options.btn)
			a(href="#").g-btn.g-btn--accent=options.btn

mixin cardInfo(arr)
	ul.card-list
		each key in arr
			li=key